.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.hide-scroll {
    overflow: hidden !important;
}
.font24 {
    font-size: 24px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}

.fragment-replace > .fragment.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}